.jumbotron {
  padding-top: 6rem;
  background-color: #a1e3d8;
}

/* svg {
  margin-top: -230px;
}

.apawe {
  margin-top: 90px;
} */

footer {
  background-color: #069a8e;
}

section {
  padding-top: 5rem;
}

/* #navbarNav a:visited,
a:active {
  font-weight: bold;
  text-decoration: underline;
} */
